@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    background-color: #0f0f0f;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
                      linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 20px 20px;
    font-family: 'Inter', sans-serif;
}

.social-icons a {
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.social-icons a:hover {
    transform: scale(1.1);
    color: #9CA3AF; /* gray-400 */
}
